<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
			 <h1>About</h1>
			 <span class="lft-bar-about"> </span>
			 <span class="rit-bar-about"> </span>
           <div class="col-md-6 about-left wow bounceInLeft" data-wow-delay="0.3s">
           	   <img src="images/ab.jpg" alt="" class="img-responsive">
           </div>
           <div class="col-md-6 about-right wow bounceInRight" data-wow-delay="0.3s">
           	 <h4> Living in The Dream....</h4>
           	 <p>Everyone has a dream and our dream is to encourage people to explore this beautiful world as they travel with us. It’s our passion and we have lived it to the fullest since 1977. It all started 36 years back when this passion took form of an organization and became the most Everyone has a dream and our dream is to encourage people to explore this beautiful world as they travel with us. It’s our passion and we have lived it to the fullest since 1977. It all started 36 years back when this passion took form of an organization and became the most trustworthy Travel Partner for over half a million happy customers… and counting!Travel Partner for over half a million happy customers… and counting!.</p>
             <div class="about-list">
	             	<div class="ab-list-left">
		               <ul>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Point 1</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Point 2</li>
		               </ul>
	               </div>
	               <div class="ab-list-right">
		               <ul>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>point 1</li>
		               	<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>Point 2</li>
		               </ul>
		          </div>
		        <div class="clearfix"> </div>
              </div>
           </div>
          <div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="about-middle">
	<div class="container">
		      <div class="testimo">
				 	   <h3>Testimonial</h3>
				 	   <span class="lft-bar-testi"> </span>
				 	   <span class="rit-bar-testi"> </span>
			  </div>
		   <section class="slider">
		 <div class="flexslider">
			<ul class="slides">
			  <li>
			  	<div class="banner-bottom">
					<div class="about-midd-main">
							<h4>Message heading 1.</h4>
							<p> Text testimonials Message in this secions.</p>
					</div>
			 	</div>
			  </li>
			  <li>
			 	<div class="banner-bottom">
					<div class="about-midd-main">
							<h4>Messsage Heading 2.</h4>
							<p> Text testimonials message in this section.</p>
					</div>
			 	</div>
			  </li>
			  <li>
			 	<div class="banner-bottom">
					<div class="about-midd-main">
							<h4>Message Heading 2.</h4>
							<p> Text testimonials Message in this sections.</p>
					</div>
			 	</div>
			  </li>
		    </ul>
		 </div>
		 <div class="clearfix"> </div>
	  </section>
	</div>
</div>
<!-- FlexSlider
				  <script defer src="js/jquery.flexslider.js"></script>
				  <script type="text/javascript">
					$(function(){

					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
			FlexSlider -->

<div class="team">
	<div class="container">
		<div class="team-main">
			<div class="team-head">
				<h2>Team</h2>
				<span class="lft-bar-memb"> </span>
				<span class="rit-bar-memb"> </span>
			</div>
			<div class="col-md-4 team-grid wow bounceIn" data-wow-delay="0.4s">
				<img src="images/p1.png" alt="" class="img-responsive">
				<div class="team-bottom">
					<p>Details team 1.</p>
					<a href="single.html"  class="hvr-bounce-out">More Info</a>
				</div>
				  <div class="info-top">
				  	<h4>Name </h4>
				  	<p>Manager</p>
				  </div>
			</div>
			<div class="col-md-4 team-grid wow bounceIn" data-wow-delay="0.4s">
				<img src="images/p1.png" alt="" class="img-responsive">
				<div class="team-bottom">
					<p>Details team 2</p>
					<a href="single.html"  class="hvr-bounce-out">More Info</a>
				</div>
				  <div class="info-top">
				  	<h4>Name</h4>
				  	<p>Manager</p>
				  </div>
			</div>
			<div class="col-md-4 team-grid wow bounceIn" data-wow-delay="0.4s">
				<img src="images/p1.png" alt="" class="img-responsive">
				<div class="team-bottom">
					<p>Details team 3.</p>
					<a href="single.html"  class="hvr-bounce-out">More Info</a>
				</div>
				  <div class="info-top">
				  	<h4>Name </h4>
				  	<p>Manager</p>
				  </div>
			</div>
		   <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->
