<!--content-->
<div class="gallery">
	<div class="container">
		<div class="galley-grid wow bounceInLeft" data-wow-delay="0.3s">
			<h1>Gallery</h1>
			<span class="lft-bar-gallery"> </span>
			<span class="rit-bar-gallery"> </span>
		</div>
		<div class="project-top wow fadeInUp animated" data-wow-delay=".5s">
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Gallery</h4>
						<h5>Text some details</h5>
					</div>
					<img src="images/g2.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>
						Details about the destinations.</p>
				</div>
			</div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Gallery</h4>
						<h5>Text some Details </h5>
					</div>

					<img src="images/g2.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>
						Text Some Details.</p>
				</div>
			</div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Gallery</h4>
						<h5>Text Some Details</h5>
					</div>

					<img src="images/g2.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>Text some Details .</p>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Gallery</h4>
						<h5>Text Some Details</h5>
					</div>

					<img src="images/g4.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>
						Text Some Details .</p>
				</div>
			</div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Text Some Details Here</h5>
					</div>

					<img src="images/g4.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>Text Some Details Here.</p>
				</div>

			</div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Text Some Details Here</h5>
					</div>

					<img src="images/g4.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>
						Text Some Details here.</p>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Text some details Here</h5>
					</div>

					<img src="images/g9.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery.</h4>
					<p>
						Text Some Details Here.</p>
				</div>
			</div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Details text</h5>
					</div>

					<img src="images/g9.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>	Details text here.</p>
				</div>

			</div>
			<div class="col-md-4 project">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Gallery</h4>
						<h5>Details</h5>
					</div>

					<img src="images/g9.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>Gallery</h4>
					<p>Details.</p>
				</div>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!---->
