<!--hotel start here-->
<div class="hotel">
	<div class="container">
		<div class="hotel-main">
             <div class="hotel-head">
             	<h1>Welcome To Hotel</h1>
             	<span class="lft-bar-welcom"> </span>
             	<span class="rit-bar-welcom"> </span>
             </div>
             <div class="hotel-bottom">
             	<!-- experts -->
				<div class="experts wow bounceInRight" data-wow-delay="0.3s">
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="images/h1.jpg" alt=" " />
									<div class="captn">
										<h4>Hotel 1</h4>
										<p>Details Of hotel 1</p>
									</div>
							</div>
						</div>
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="images/h2.jpg" alt=" " />
									<div class="captn">
										<h4>Hotel 2</h4>
										<p>Details of hotel 2</p>
									</div>
							</div>
						</div>
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="images/h3.jpg" alt=" " />
									<div class="captn">
										<h4>Hotel 3</h4>
										<p>Details of hotel 3</p>
									</div>
							</div>
						</div>
						<div class="col-md-3 bottom-grid">
							<div class="btm-right">
								<img src="images/h4.jpg" alt=" " />
									<div class="captn">
										<h4>Hotel 4</h4>
										<p>Details of hotel 4</p>
									</div>
							</div>
						</div>
						<div class="clearfix"> </div>
				</div>
				<!-- //experts -->
             </div>
		</div>
	</div>
</div>
<!--services strat here-->
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h2>Our Services</h2>
				<span class="lft-bar-serv"> </span>
             	<span class="rit-bar-serv"> </span>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 services-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="images/s1.png" alt="">
					<h4>service 1</h4>
					<p>Details about service 1.</p>
				</div>
				<div class="col-md-4 services-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="images/s2.png" alt="">
					<h4>Service 2</h4>
					<p>Details about service 2.</p>
				</div>
				<div class="col-md-4 services-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="images/s3.png" alt="">
					<h4>Service 3</h4>
					<p>Details about service 3.</p>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->
<!--ser-advices start here-->
<div class="advices">
	<div class="container">
            <div class="advice-list-main">
            	<div class="advice-lidt-top">
					<h3>Services list</h3>
					<span class="lft-bar-advice"> </span>
	             	<span class="rit-bar-advice"> </span>
             	</div>
             	<div class="advice-lidt-bottom wow bounceInLeft" data-wow-delay="0.3s">
				<div class="col-md-4 advice-list">
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 1</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 2</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 3</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 4</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 5</a></li>
					</ul>
				</div>
				<div class="col-md-4 advice-list">
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 1</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 2</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 3</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 4</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 5</a></li>
					</ul>
				</div>
				<div class="col-md-4 advice-list">
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span> <a href="#">Service 1</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span> <a href="#">Service 2</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 3</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 4</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span><a href="#">Service 5</a></li>
					</ul>
				</div>
			<div class="clearfix"> </div>
		   </div>
		</div>
	</div>
</div>
