<div class="banner-main">
	    <div class="slider-bann wow bounceInRight" data-wow-delay="0.3s">
	    <ul class="rslides" id="slider2">
	      <li>
	      	<h3>Welcome To Our Travel</h3>
	      	<h4>The Best Way To Be Lost</h4>
	      	  <div class="ban-btn">
	      	   <a href="single.html" class="hvr-bounce-out">Load More</a>
	      	  </div>
	      </li>
	      <li>
	      	<h3>Find Beautiful Place</h3>
	      	<h4>The Best Way To Be Lost</h4>
	      	  <div class="ban-btn">
	      	  <a href="single.html" class="hvr-bounce-out">Load More</a>
	      	  </div>
	      	</li>
	      <li>
	      	<h3>To travel is to live</h3>
	      	<h4>The Best Way To Be Lost</h4>
	      	  <div class="ban-btn">
	      	   <a href="single.html" class="hvr-bounce-out">Load More</a>
	      	  </div>
	      </li>
	    </ul>
    </div>
  </div>
<!--what we do strat here-->
<div class="what-we-do">
 <div class="container">
    <div class="what-we-do-main  wow bounceInLeft" data-wow-delay="0.3s">
    	 <h2>What We Do</h2>
    	 <span class="lft-bar-we"> </span>
	     <span class="rit-bar-we"> </span>
    	 <p class="text-justify">Everyone has a dream and our dream is to encourage people to explore this beautiful world as they travel with us. It’s our passion and we have lived it to the fullest since 1977. It all started 36 years back when this passion took form of an organization and became the most Everyone has a dream and our dream is to encourage people to explore this beautiful world as they travel with us. It’s our passion and we have lived it to the fullest since 1977. It all started 36 years back when this passion took form of an organization and became the most trustworthy Travel Partner for over half a million happy customers… and counting!Travel Partner for over half a million happy customers… and counting!</p>
    	 <a [routerLink]="['/about']" class="hvr-bounce-out">Read More</a>
    	<div class="clearfix"> </div>
    </div>
 </div>
</div>
<!--peoples strat here-->
<div class="people">
	<div class="container">
		<div class="people-main">
			  <div class="people-top wow bounceInRight" data-wow-delay="0.3s">
			  	<h1>Touristers</h1>
			  	<span class="lft-bar-team"> </span>
			  	<span class="rit-bar-team"> </span>
			  	<p>Thank you for your response.</p>
			  </div>
			  <div class="people-bottom">
			  	 <div id="owl-demo" class="owl-carousel text-center">
			  	 	  <div class="item g1">
							<img class="lazyOwl img-responsive" src="images/p1.png" alt="name" >
							<div class="people-caption">
								<h3>Name</h3>
								<span>We are back from holidays!!!! Thanks to you it was a pleasant experience. We enjoyed alot. We had a great time in Andman - Nicobar. The tour escort were knowlegdeable & caring. Wish You “ All The Best “</span>
								<ul class="people-icons">
									<li><a href="#"> <span class="fb"></span> </a></li>
									<li><a href="#"> <span class="tw"></span> </a></li>
									<li><a href="#"> <span class="google"></span> </a></li>
								</ul>
							</div>
						</div>
						<div class="item g1">
							<img class="lazyOwl img-responsive" data-src="images/p1.png" alt="name">
							<div class="people-caption">
								<h3>Name</h3>
								<span>Message </span>
								<ul class="people-icons">
									<li><a href="#"> <span class="fb"></span> </a></li>
									<li><a href="#"> <span class="tw"></span> </a></li>
									<li><a href="#"> <span class="google"></span> </a></li>
								</ul>
							</div>
						</div>
						<div class="item g1">
							<img class="lazyOwl img-responsive" data-src="images/p1.png" alt="name">
							<div class="people-caption">
								<h3>Name</h3>
								<span>Messages </span>
								<ul class="people-icons">
									<li><a href="#"> <span class="fb"></span> </a></li>
									<li><a href="#"> <span class="tw"></span> </a></li>
									<li><a href="#"> <span class="google"></span> </a></li>
								</ul>
							</div>
						</div>
						<div class="item g1">
							<img class="lazyOwl img-responsive" src="images/p1.png" alt="name">
							<div class="people-caption">
								<h3>Name</h3>
								<span>Messages </span>
								<ul class="people-icons">
									<li><a href="#"> <span class="fb"></span> </a></li>
									<li><a href="#"> <span class="tw"></span> </a></li>
									<li><a href="#"> <span class="google"></span> </a></li>
								</ul>
							</div>
						</div>
						<div class="item g1">
							<img class="lazyOwl img-responsive" src="images/p1.png" alt="name">
							<div class="people-caption">
								<h3>Name</h3>
								<span>Messages </span>
								<ul class="people-icons">
									<li><a href="#"> <span class="fb"></span> </a></li>
									<li><a href="#"> <span class="tw"></span> </a></li>
									<li><a href="#"> <span class="google"></span> </a></li>
								</ul>
							</div>
						</div>

					</div>
			  </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--peoples end here-->
<!--disk bar strat here-->
<div class="disk">
  <div class="container">
  	<div class="disk-main">
  		   <div class="col-md-8 disk-left wow bounceInLeft" data-wow-delay="0.3s">
  		   	  <p>Add another section in this block .....</p>
  		   </div>
  		   <div class="col-md-4 disk-right wow bounceInRight" data-wow-delay="0.3s">
  		   	<a href="about.html" class="hvr-bounce-out">Read More</a>
  		   </div>
  		<div class="clearfix"> </div>
  	</div>
  </div>
</div>
<!--disk bar end here-->
<!--features strat here-->
<div class="features">
  <div class="container">
  	<div class="features-main">
  		<div class="features-top">
  			<h3>Services</h3>
  			<span class="lft-bar-fea"> </span>
			<span class="rit-bar-fea"> </span>
  		</div>
  		<div class="features-bottom">
	  		 <div class="col-md-6 features-left wow bounceInLeft" data-wow-delay="0.3s">
	  		   	 <div class="feature-grids">
		  		   	  <div class="fea-img">
		  		   	  	<img src="images/fe3.png" alt="">
		  		   	  </div>
		  		   	  <div class="fea-text">
		  		   	  	<h4>Air Tickets</h4>
		  		   	  	<p>We expertise in Domestic as well as International air tickets on all airlines including low cost carriers at competitive prices.</p>
		  		   	  </div>
		  		   	<div class="clearfix"> </div>
	  		   	  </div>
	  		   	  <div class="feature-grids">
		  		   	  <div class="fea-img">
		  		   	  	<img src="images/fe2.png" alt="">
		  		   	  </div>
		  		   	  <div class="fea-text">
		  		   	  	<h4>Passport Assistance</h4>
		  		   	  	<p>We provide expert guidance in procuring an important document like Passport.</p>
		  		   	  </div>
		  		   	<div class="clearfix"> </div>
	  		   	  </div>
	  		   </div>
	  		   <div class="col-md-6 features-right wow bounceInRight" data-wow-delay="0.3s">
	  		   	 <div class="feature-grids">
		  		   	  <div class="fea-img">
		  		   	  	<img src="images/fe3.png" alt="">
		  		   	  </div>
		  		   	  <div class="fea-text">
		  		   	  	<h4>Visa Assistance</h4>
		  		   	  	<p>Visa rules keep changing and can be extremely challenging for the layman. Here’s where our experts assist you obtaining the most tricky visas like Europe, Australia, New-Zealand, USA.  </p>
		  		   	  </div>
		  		   	<div class="clearfix"> </div>
	  		   	  </div>
	  		   	  <div class="feature-grids">
		  		   	  <div class="fea-img">
		  		   	  	<img src="images/fe4.png" alt="">
		  		   	  </div>
		  		   	  <div class="fea-text">
		  		   	  	<h4>Tarvel Insurance</h4>
		  		   	  	<p>We provide all major foreign currencies at competitive rates. You can secure your journey by purchasing travel insurance from some of the most reputed companies.</p>
		  		   	  </div>
		  		   	<div class="clearfix"> </div>
	  		   	  </div>
	  		   </div>
	  		<div class="clearfix"> </div>
  		</div>
  	</div>
  </div>
</div>
<!--features end here-->
<!--visit places strat here-->
<div class="visit">
   <div class="container">
   	<div class="visit-main wow bounceInRight" data-wow-delay="0.3s">
   		  <div class="visit-top">
   		  	 <h3>Visit Place</h3>
			 <span class="lft-bar-visit"> </span>
			<span class="rit-bar-visit"> </span>
   		  </div>
   		  <div class="visit-bottom">
   		  	 <div class="col-md-4 visit-grid">
   		  	 	<div class="item-1 item-type-spin">
								<a class="item-hover swipebox" href="single.html"  data-title="Vigor">
										<div class="item-info">
										<div class="headline">
											USA
											<div class="line"></div>
											<div class="date">February 29, 2016</div>
										</div>
									</div>
									<div class="mask"></div>
								</a>
							<div class="item-img">
							<img src="images/v1.jpg" class="img-responsive" alt="" />
							</div>
				</div>
   		  	 	<h4><a href="single.html">USA</a></h4>
   		  	 	<p>Details about place</p>
   		  	    <div class="visit-blog">
				   <div class="visit-btn">
				      <a href="single.html">Read More</a>
				   </div>
				   <div class="visit-likes">
				    <a href="#"><span class="#">2k</span></a>
				   </div>
				  <div class="clearfix"> </div>
				</div>
			 </div>
			 <div class="col-md-4 visit-grid">
   		  	 	<div class="item-1 item-type-spin">
								<a class="item-hover swipebox" href="single.html"  data-title="Vigor">
										<div class="item-info">
										<div class="headline">
											UK
											<div class="line"></div>
											<div class="date">February 29, 2016</div>
										</div>
									</div>
									<div class="mask"></div>
								</a>
							<div class="item-img">
							<img src="images/v2.jpg" class="img-responsive" alt="" />
							</div>
				</div>
   		  	 	<h4><a href="single.html">UK</a></h4>
   		  	 	<p>Details About place</p>
   		  	    <div class="visit-blog">
				   <div class="visit-btn">
				      <a href="single.html">Read More</a>
				   </div>
				   <div class="visit-likes">
				    <a href="#"><span class="#">2k</span></a>
				   </div>
				  <div class="clearfix"> </div>
				</div>
			 </div>
			 <div class="col-md-4 visit-grid">
   		  	 	<div class="item-1  item-type-spin">
								<a class="item-hover swipebox" href="single.html"  data-title="Vigor">
										<div class="item-info">
										<div class="headline">
											London
											<div class="line"></div>
											<div class="date">February 29, 2016</div>
										</div>
									</div>
									<div class="mask"></div>
								</a>
							<div class="item-img">
							<img src="images/v3.jpg" class="img-responsive" alt="" />
							</div>
				</div>
   		  	 	<h4><a href="single.html">London</a></h4>
   		  	 	<p>Details about place.</p>
   		  	    <div class="visit-blog">
				   <div class="visit-btn">
				      <a href="single.html">Read More</a>
				   </div>
				   <div class="visit-likes">
				    <a href="#"><span class="#">2k</span></a>
				   </div>
				  <div class="clearfix"> </div>
				</div>
			 </div>
			<div class="clearfix"></div>
   		  </div>
   		<div class="clearfix"> </div>
   	</div>
   </div>
</div>
<!--visit places end here-->
